body {
  background-color: white;
  color: royalblue;
}

#nav-bar {
  position: relative;
  top: 12cm;
}

#description {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
#table-head {
  color: teal;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 1px lightgreen;
}

#t-body {
  color: black;
  text-align: center;
}
